rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    
    match /pizzaStore/{pizzaUuid} {
      allow create: if isValid();
      allow update: if isValid();
      allow get: if true;
      allow list: if true;
    }
  }
}

function isValid() {
  return
    request.resource.data.keys().hasOnly(['name ', 'status']) &&
    request.resource.data.keys().hasAll(['name', 'status']);
}